<!-- inventario/templates/inventario/base.html -->
<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>{% block title %}Inventario{% endblock %}</title>
</head>

<body>
    <nav class="w-full p-4 flex item-center justify-center gap-4 bg-blue-400 text-white ">
        <a href="{% url 'producto_list' %}">Productos</a>
        <a href="{% url 'producto_create' %}">Nuevo</a>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>

</html>